.ois_inner_wrap_21 {
	padding: 19px !important;
	background-color: #ecf0f1;
	border: 1px solid #d7e0e2;
	border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) !important;
	
}

.ois_title_21 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 500 !important;
	line-height: 1.1 !important;
	margin-bottom: 10.5px !important;
	color: #2c3e50;
	font-style:normal!important;
	font-variant:normal!important;
	font-weight:700!important;
	line-height:21px!important;
	padding:0!important;
	text-align:left!important;
	font-size: 26px !important;
}

.ois_subtitle_21 {
	display:block!important;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size:19px!important;
	font-style:normal!important;
	font-variant:normal!important;
	font-weight:300!important;
	line-height:22px!important;
	margin-top: 10.5px !important;
	margin-bottom: 5px !important;
	padding:0 0 6px!important;
	text-align:left!important;
}

.ois_inner_21 {
	-webkit-box-shadow:none!important;
	background-attachment:scroll!important;
	background-clip:border-box!important;
	background-color:transparent!important;
	background-image:none!important;
	background-origin:padding-box!important;
	background-position:0 0!important;
	background-repeat:repeat!important;
	border-bottom-left-radius:0!important;
	border-bottom-right-radius:0!important;
	border-top-left-radius:0!important;
	border-top-right-radius:0!important;
	color:#333!important;
	display:block!important;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:13px!important;
	font-style:normal!important;
	font-variant:normal!important;
	font-weight:400!important;
	line-height:19px!important;
	margin-bottom:0!important;
	margin-left:0!important;
	margin-right:0!important;
	margin-top:0!important;
	overflow-x:visible!important;
	overflow-y:visible!important;
	padding-bottom:0!important;
	padding-left:0!important;
	padding-right:0!important;
	padding-top:0!important;
	position:static!important;
	text-align:left!important;
	z-index:auto
}

.ois_textbox_21,.ois_inner_wrap_21 input[type="text"],.ois_inner_wrap_21 input[type="email"] {
	-webkit-box-shadow:#fff 0 1px 0 0px,rgba(0,0,0,0.0976562)0 1px 1px 0 inset!important;
	-moz-box-shadow:#fff 0 1px 0 0px,rgba(0,0,0,0.0976562)0 1px 1px 0 inset!important;
	box-shadow:#fff 0 1px 0 0px,rgba(0,0,0,0.0976562)0 1px 1px 0 inset!important;
	background-image:none!important;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px!important;
	font-style:normal!important;
	font-variant:normal!important;
	font-weight:400!important;
	letter-spacing:normal!important;
	margin-bottom: 5px;
	display: block;
	width: 100%;
	height: 43px;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1.428571429;
	color: #2c3e50;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #dce4ec;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.ois_textbox_21:focus,.ois_inner_wrap_21 input[type="text"]:focus,.ois_inner_wrap_21 input[type="email"]:focus {
border-color: #1abc9c;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(26, 188, 156, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(26, 188, 156, 0.6);
}

.ois_button_21,.ois_inner_wrap_21 input[type="submit"] {
	display: inline-block;
  padding: 10px 15px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.ois_button_21:focus,.ois_inner_wrap_21 input[type="submit"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.ois_button_21:focus,.ois_inner_wrap_21 input[type="submit"]:hover,
.ois_button_21:focus,.ois_inner_wrap_21 input[type="submit"]:focus {
  color: #ffffff;
  text-decoration: none;
}

.ois_button_21:active,.ois_inner_wrap_21 input[type="submit"]:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

}

.ois_button_21:focus,.ois_inner_wrap_21 input[type="submit"]:hover,
.ois_button_21:focus,.ois_inner_wrap_21 input[type="submit"]:focus,
.ois_button_21:active,.ois_inner_wrap_21 input[type="submit"]:active {
  color: #ffffff;
  background-color: #13987e;
  border-color: #11866f;
}

.ois_button_21:active,.ois_inner_wrap_21 input[type="submit"]:active {
  background-image: none;
}